html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
}
#root {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.container {position:absolute;width:100%;height:calc(100vh - 50px);top:50px}
.sctn {
  display: flex;
  align-items: center;
  columns: 1;
  flex-direction: column;
  padding: 5em 10em;
}

.sctn_heading {background: #f1f1f1;z-index: 2}
/*
  NEVER USE MARGIN ON FALLABLE OBJECTS!
*/
.fallable {margin: 0 !important;}
.sctn_body {}
.sctn_subheading {text-align: center;}

.page_titel {margin:0;display:block;position:absolute;text-align:center;width:100%;left:0;color:#eeeeee;}
.sctn_login {}
/*.sctn_registrierung {margin-top:50px;}*/
.sctn_impressum {}

.sctn_artist {
  background: url(assets/IMG/mama_feuer3.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #f2f2f2;
}
.sctn_artist .sctn_body {
  display: flex;
}
.sctn_artist .sctn_subheading {align-items: center;flex: 0 0 33.333%;}

#mjs-wrapper {transition: background 0.2s ease;z-index: 1;}

#mjs-wrapper ul {
  font-size: 14pt;
  list-style: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}
#mjs-wrapper .menulink {
  display: inline-block;
  padding: 1em;
  cursor: move;
}
#mjs-wrapper .menulink:hover {
  background: blue;
}
#mjs-wrapper .menulink h1:hover {color: red;}
#mjs-wrapper .menulink h1 {margin-left: 1em;}